BasedOnStyle: Microsoft
Standard: c++20
ColumnLimit: 140
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: All
AccessModifierOffset: -4
SortIncludes: Never
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
PointerAlignment: Left
ReferenceAlignment: Left
